/* LoginButton.module.css */

/* Button for Sign Out */
.buttonRed {
    display: flex;
    padding: 0.3rem 0.5rem;
    width: 80%;
    text-align: center;
    justify-content: center;
    place-items: center;
     /* Combined padding for consistency */
    background-color: #ffffff00; /* Softer blue */
    color: rgb(255, 255, 255);
    /* Fully rounded button */
    font-weight: 600; /* Bold text */
    font-size: 1rem; /* Slightly larger text for better readability */
    border: none; /* Remove border */
    cursor: pointer;
    transition: background-color  0.7s,  color 0.7s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for modern effect */
    white-space: nowrap; /* Prevents text wrapping */
    margin: 0;
    border-width: 1px;
   border-style: solid;
   border-radius: 1rem;
  }
  
  .buttonRed:hover {
    background-color: #ffffff; /* Darker red on hover */
    color:  black;
    transition: background-color  0.7s, color 0.7s;
    
    border-width: 1px;
   border-style: solid;
    
  }
  
  .buttonBlue {
    display: flex;
    margin: 0;
    gap: 0.5rem;
    width: auto;
    place-items: center;
    padding: 0.5rem 0.5rem; /* Combined padding for consistency */
    background-color: #040404; /* Softer blue */
    color: rgb(255, 255, 255);
    border-radius: 9999px; /* Fully rounded button */
    font-weight: 600; /* Bold text */
    font-size: 0.8rem; /* Slightly larger text for better readability */
    border: none; /* Remove border */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for modern effect */
    white-space: nowrap; /* Prevents text wrapping */
  }
  
  .buttonBlue:hover {
    background-color: #357abd; /* Darker blue on hover */
    transition: background-color 0.3s, transform 0.2s ease;
  }
  
  .buttonBlueHidden{
    display: none;
    transition: background-color 0.3s, transform 0.2s ease;
  }

  /* User Avatar */
  .userAvatar {
    width: 2rem; /* Slightly larger for a more prominent look */
    height: 2rem;
    border-radius: 50%;
    border-style: solid;
    /* Small margin for spacing */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    transition: background-color 0.3s, border-width 0.3s; /* Smooth transition */
  }


  .profileSectionUser{
    width: 3.5rem; 
    height:3.5rem;
    padding: 0.2rem;
    border-style: solid;
    border-radius: 50%;
     
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
  }

 .profileSection{
  
  display: flex;
  flex-direction: column;
  gap:1rem;
  justify-content: center;
  text-align: center;
  place-items: center;
  font-family: Anta;
 }

  .alienAvatar {
    width: 2rem; 
    height:2rem;
    padding: 0.2rem;
    border-style: solid;
    border-radius: 50%;
    margin-right: 0.5rem; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
  }

 
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }

  .containerProfile{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(182, 182, 182, 0.156);
    margin: 1rem 0rem;
    padding:1rem 0rem ;
    margin-top: 0;
    border-radius: 0.5rem;
  }

 