.icon {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

.skillsContainer {
    margin: 3rem;
  display: block;
  flex-grow: 1;
  flex-wrap: wrap;

  padding: 20px;
  justify-content: left;
}

.skillsContainer ul{
    display: flex;
  text-align: center;
  justify-content: center;
  place-items: center;

  flex-wrap: wrap;
}

.skillsContainer p {
  font-family: Anta;
 
}

.skillsContainer h3{
    font-family: Anta;
    font-weight: 100;
}

.skillsContainer p:hover {
    display: inline;
    
}

.skillsContainer li {
  padding: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  place-items: center;
  gap: 10px;
}

.categoryDiv{
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: rgba(251, 251, 251, 0.563);
    text-align: center;
    place-items: center;
    justify-content: space-between;

}

@media  screen and (max-width:600px) {
    .skillsContainer{
        margin: 10px 0;
        padding: 0px;
        
    }

    .skillsContainer li {
        padding: 15px;
        display: flex;
        text-align: center;
        justify-content: center;
        place-items: left;
        gap: 5px;
      }

      .skillsContainer ul{
        display: flex;
      text-align: center;
      justify-content: right;
      place-items: center;
    
      flex-wrap: wrap;
    }

    .skillsContainer h3{
        font-family: Anta;
        font-weight: 100;
        text-align: left;
    }

    .icon{
        width: 1.5rem;
        height: 1.5rem;
    }
}